<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<header th:fragment="header">
  <div class="logo">
    <h1><span class="nexus">Nexus</span> Blog</h1>
  </div>

  <nav th:include="fragments/menu::menu" class="menu"/>

  <div class="user-area">
    <div sec:authorize="isAuthenticated()">
      <a th:href="@{'/logout'}">Logout</a>
    </div>
    <div sec:authorize="isAnonymous()">
      <a th:href="@{'/login'}">Login</a>
      <span>|</span>
      <a th:href="@{'/registration'}">Registration</a>
    </div>
  </div>
</header>
</body>
</html>