<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="container" th:fragment="posts">
    <div class="post-container">
        <button class="post-creator" th:onclick="window.location.href='/blog/add';">Create new post</button>

        <div class="post" th:each="post, status : ${posts}">
            <div class="post-title">
                <h4 class="user-name" th:text="${post.username}"/>
                <h3 classt="post-name" th:text="${post.title}"/>
            </div>
            <div class="post-content">
                <p th:text="${post.content}"/>
            </div>
            <div class="post-footer">
                <div class="post-actions" th:if="${post.username.equals(#authentication.name)}">
                    <a th:href="@{'/blog/remove/' + ${post.id}}">Remove</a>
                    <a th:href="@{'/blog/edit/' + ${post.id}}">Edit</a>
                </div>

                <p th:text="${#dates.format(post.updated, 'yyyy-MM-dd HH:mm')}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>