.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    background-color: #a8a8a8;
    width: 350px;
    margin: 20px auto;
    border-radius: 10px;
}

.auth a{
    color: #333;
    margin: auto 50px;
}
.auth a:hover{
    color: #00ff00;
}
.auth a:focus{
    color: #fff;
}
.form-style{
    border-top:1px solid #00ff00;
}
.form-style div{
    margin: 20px auto;
}
.form-style label {
    font-weight: bold;
    align-self: flex-start;
    margin: 5px;
}

.form-style input {
    font-size: 18px;
    width: 100%;
    margin: 5px auto auto auto;
}
.form-action{
    padding-top: 20px;
    border-top: 1px solid #00ff00;
}


