.post-form {
    display: flex;
    flex-direction: column;
    color: #333;
    padding: 20px;
    overflow: hidden;
}

.post-form textarea {
    margin: 10px;
    padding: 10px;
    background-color: #a8a8a8;
    color: #333;
    border: none;
    border-radius: 5px;
    resize: none;
    min-height: 300px;
    height: auto;
}
#title{
    background-color:#333;
    color:#a8a8a8;
    font-size: 18px;
    font-weight: bold;
}
#title::placeholder{
    color:#a8a8a8;
}
.post-form input:focus{
    outline-color: #00ff00;
}
.post-form input::placeholder {
    color: #333;
    box-sizing: border-box;
}
.post-footer button{
    margin: 10px 40px;
}
