.profile{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    max-width: 900px;
    margin-bottom: 20px;
    background-color: #a8a8a8;
    color: #333;
    border-radius: 10px;
    height: 100%;
}
.profile *{
    margin: 10px 20px;
}
.main-info{
    border-top: 1px solid;
    border-bottom: 1px solid;
}