body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #a8a8a8;
    min-width: 600px;
    background-color: #5e5e5e;
}

a {
    font-weight: bold;
    text-decoration-line: none;
    color: #a8a8a8;
    margin: auto 10px;
}

a:hover {
    color: #00ff00;
}
a:focus{
    color: #fff;
}

span {
    color: #00ff00;
}
button{
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 7px;
    font-weight: bold;
    background-color: #858585;
    color:#333;
}
button:hover {
    background-color: #333;
    color:#a8a8a8;
}
button:active{
    background-color:#00ff00;
    color: #333;
}


header {
    display: flex;
    background-color: #333;
    padding: 0 20px;
}

.error {
    color: #c75450;
}

.logo {
    width: 200px;
    margin: auto auto auto 50px;
    color: #fff;
    border-right: 1px solid #00ff00;
}

header nav {
    flex-grow: 1;
    display: flex;
    margin: 10px auto auto 150px;
}

nav a:hover {
    text-decoration: underline;
}

.user-area {
    font-size: small;
    margin: 10px;
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: #333;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

footer nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.copyright {
    display: flex;
    margin: auto auto 2px auto;
    justify-content: center;
}

/* Container */
.container {
    flex: 1;
    padding: 10px;
}

.post-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 900px;
}

.post-creator {
    margin: 5px 20px 5px auto;
}

.post {
    margin-top: 10px;
    width: 100%;
}

.post-title {
    background-color: #333;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
}

.user-name{
    color: #fff;
    margin: 0 auto 0 50px;
}
.post-name{
    margin: 0 auto 20px 50px;
}

.post-footer {
    display: flex;
    background-color: #333;
    border-radius: 0 0 10px 10px;
}

.post-footer p {
    margin: 10px 20px 10px auto;
}

.post-actions {
    margin: 10px;
}

.post-content {
    display: flex;
    text-align: justify;
    flex-direction: column;
    background-color: #a8a8a8;
    color: #333;
}

.post-content * {
    margin: 20px;
    text-align: justify;
}
.post-form {
    display: flex;
    flex-direction: column;
    color: #333;
    padding: 20px;
}

.post-form input[type="text"] {
    margin: 10px;
    padding: 10px;
    background-color: #a8a8a8;
    color: #333;
    border: none;
    border-radius: 5px;
}

.post-form input[type="text"]::placeholder {
    color: #333;
    box-sizing: border-box;
}
