<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <title>Posts Form</title>
</head>
<body>

<div class="post-container justify-content-center" layout:fragment="content">
    <div class="card mt-4 shadow mb-5 bg-body-tertiary rounded">
        <div class="card-header">
            <h3 class="ms-4" th:text="Post"></h3>
        </div>
        <form th:action="@{'/'}" class="post-form" method="post" th:object="${post}">

            <div class="card-header">
                <input id="title" name="title" class="form-control" type="text"
                       th:value="*{title}" placeholder="Enter title here..."/>
                <p class="error" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>
            </div>

            <div class="card-body">
                <div class="post-content my-3">
                    <textarea id="content" name="content" class="form-control  overflow-hidden"
                              th:text="*{content}" placeholder="Type here..."></textarea>
                </div>
            </div>
            <div class="card-footer">
                <input type="hidden" name="id" th:value="*{id}"/>
                <input type="hidden" name="created"
                       th:value="${#dates.format(post.created, 'yyyy-MM-dd HH:mm')}"/>

                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>