<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<div class="post-container" layout:fragment="content">

    <th:block th:insert="~{fragments/post::newPostBtn}"></th:block>

    <th:block th:insert="~{fragments/post::post}"></th:block>

    <th:block th:insert="~{fragments/comments::comments}"></th:block>
</div>
</body>
</html>