<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">
<head>
    <title>Profile</title>
</head>
<body>

<div class="profile" layout:fragment="content">
    <div class="card shadow mb-5 bg-body-tertiary rounded">
        <h5 class="card-header" th:text="${profile.username}"/>
        <div class="card-body">
            <div class="row g-0">
                <div class="col-md-2">
                    <img class="img-fluid rounded-5"
                         th:if="${profile.avatarPath != null}"
                         th:src="@{'/uploads/avatar/' + ${profile.avatarPath}}"
                         alt="Avatar"/>
                </div>
                <div class="col-md-4 ms-4">
                    <h3 class="card-title"
                        th:text="${(profile.name != null) ? profile.name : ''}
                                + ${(profile.surname != null) ? ' ' + profile.surname : ''}"></h3>
                    <p th:if="${profile.birthdate != null}"
                       th:text="'Birthday: ' + ${#dates.format(profile.birthdate, 'yyyy MMMM d')}"></p>
                    <div class="contacts mt-4">
                        <p th:if="${profile.contacts.phone != null}"
                           th:text="'Phone number: ' + ${profile.contacts.phone}"></p>
                        <p th:if="${profile.contacts.email != null}"
                           th:text="'E-Mail: ' + ${profile.contacts.email}"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title" th:text="Address"></h5>
                    <p th:if="${profile.address.statement != null && profile.address.statement != ''}"
                       th:text="'Statement: ' + ${profile.address.statement}"></p>
                    <p th:if="${profile.address.street != null && profile.address.street != ''}"
                       th:text="'Street: ' + ${profile.address.street}"></p>
                    <p th:if="${profile.address.buildingNumber != null}"
                       th:text="'Building number: ' + ${profile.address.buildingNumber}"></p>
                    <p th:if="${profile.address.postalCode != null && profile.address.postalCode != ''}"
                       th:text="'Postal code: ' + ${profile.address.postalCode}"></p>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
