<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">>
<head>
    <title>Registration</title>
</head>
<body>
<div class="card mx-auto shadow mb-5 bg-body-tertiary rounded" style="width: 25rem;" layout:fragment="content">
    <div class="card-header bg-secondary-subtle text-emphasis-secondary">
        <h1 class="d-flex justify-content-center">Registration</h1>
    </div>

    <form method="post" th:action="@{/registration}" th:object="${user}">
        <div class="card-body">
            <div>
                <label for="username" class="form-label" th:text="'Username'"></label>
                <input id="username" name="username" class="form-control"
                       type="text" placeholder="Enter username"/>
                <p class="error" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
            </div>
            <div>
                <label for="email" class="form-label" th:text="'E-mail'"></label>
                <input id="email" name="profile.contacts.email" class="form-control"
                       type="email" placeholder="Enter e-mail"/>
            </div>
            <div>
                <label for="password" class="form-label" th:text="'Password'"></label>
                <input id="password" name="password" class="form-control"
                       type="password" placeholder="Enter password"/>
                <p class="error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
            </div>
            <div>
                <input id="passwordConfirm" class="form-control mt-2" name="passwordConfirm"
                       type="password" placeholder="Confirm password"/>
                <p class="error" th:errors="*{passwordConfirm}"
                   th:if="${#fields.hasErrors('passwordConfirm')}"></p>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Sign In</button>
            <a class="mx-2" th:href="@{/login}" th:text="'Log In'"></a>
        </div>
    </form>

</div>
</body>
</html>