<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
<th:block th:insert="~{fragments/header::header}"/>

<div class="container">
    <div class="auth">
        <h1>Registration</h1>
        <div class="form-style">
            <form class="reg-form" method="post" th:action="@{/registration}" th:object="${user}">
                <div>
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" placeholder="Enter username"/>
                    <p class="error" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input  id="password" name="password" type="password" placeholder="Enter password"/>
                    <p class="error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"/>
                </div>
                <div>
                    <label for="passwordConfirm">Confirm</label>
                    <input id="passwordConfirm" name="passwordConfirm"
                           type="password" placeholder="Confirm password"/>
                    <p class="error" th:errors="*{passwordConfirm}"
                       th:if="${#fields.hasErrors('passwordConfirm')}"/>
                </div>
                <div class="form-action">
                    <button type="submit">Register</button>
                    <a th:href="@{/login}">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:insert="~{fragments/footer :: footer}"/>

</body>
</html>